body {
    font-family: Calibri, Arial, Arial, Helvetica, sans-serif;
    margin: 0;
}
header {
    background-color: #ddd;
    line-height: 2;
    text-align: center;
}
.profile-pic {
    height: 170px;
}
h1, 
h2 {
    background-color: #bfbfbf;
}
h1 {
    color: #1f5183;
}
main {
    line-height: 1.4;
    margin: 50px auto;
    max-width: 800px;
}
section {
    margin-top: 30px;
}
h2 {
    color: #533638;
}
.label-data, 
.label-years {
    font-style: italic;
    font-weight: bold;
}
footer {
    background-color: #1f487c;
    color: #ddd;
    font-size: 1.2em;
    line-height: 2;
    text-align: center;
}
.img-link {
    height: 20px;
}